@model IEnumerable<NspDay09LabCF.Models.NspLoai_San_Pham>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nspMaLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nspTenLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nspTrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nspMaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nspTenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nspTrangThai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.nspId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.nspId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.nspId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
